<%= simple_form_for :city, { url: visit_city_path } do |f| %>
  <%= f.text_field :city, placeholder: "City" %>
  <%= f.text_field :start_date, :id => "datepicker", placeholder: "Trip Start Date" %>
  <%= f.text_field :end_date, :id => "datepicker2", placeholder: "End Date"%>
  <%= f.button :submit, "Visit!" %>
<% end %>


<div id="map"></div>
<script>
$(window).ready(function(){

  window.map = L.map('map').setView([<%= @lat %>, <%= @lng %>], 12);
  L.tileLayer('https://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png', {
    maxZoom: 18,
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
    '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
    'Imagery © <a href="http://mapbox.com">Mapbox</a>',
    id: 'examples.map-i875mjb7'
  }).addTo(window.map);

  L.marker([<%= @lat %>, <%= @lng %>])
  .addTo(window.map)
  .bindPopup("<b>You are HERE</b>");

  <% @venues.each do |venue| %>
  L.marker([<%= venue.location.lat %>, <%= venue.location.lng %>])
  .addTo(window.map)
  .bindPopup("<a href=<%= venue.uri %> target=_blank><%= venue.display_name %></a>");
  <% end %>
});
</script>
<iframe style="background: lightgray" id="forecast_embed" type="text/html" frameborder="0" height="245" width="100%" src="http://forecast.io/embed/#lat=<%= @lat %>&lon=<%= @lng %>&name=<%= @placename %>&color=#237FCE"> </iframe>

<script>
$('#datepicker').datepicker({format: 'yyyy-mm-dd'});
</script>
<script>
$('#datepicker2').datepicker({format: 'yyyy-mm-dd'});
</script>
