<div style="height:2em;margin-bottom:2em;" class='container-fluid'>
  <% if current_user %>
    <h1>Hello, <%=current_user.name%>! </h1>
  <% else %>
    <h1>Hello!<h1>
  <% end %>
</div>

<h3>Where would you like to see a few concerts?<h3>
<%= simple_form_for :city, { url: visit_city_path } do |f| %>
  <%= f.text_field :city, placeholder: "City" %>
  <%= f.text_field :start_date, :id => "datepicker", placeholder: "Trip Start Date" %>
  <%= f.text_field :end_date, :id => "datepicker2", placeholder: "End Date"%>
  <%= f.button :submit, "Visit!", :style => "margin-top:-7px" %>
<% end %>
</br>


<div class='row'>
  <div class='col-md-9'>
    <div id="map"></div>
  </div>
</br>
</br>
  <div class='col-md-3'>
    <div class="float:right">
    <% if @this_trip.present? %>
      <%= render 'hidden_trip' %>
    <% end %>
    </div>
    <% if @saved_trip.present? %>
      <% if !@saved_trip.blurb.present? %>
        <%= simple_form_for :blurb, { url: save_blurb_path } do |f| %>
          <%= f.text_area :blurb, placeholder: "Write a blurb about your trip!" %>
          <%= f.button :submit, "Save Blurb" %>
        <% end %>
      <% else %>
        <%= simple_form_for :blurb, { url: save_blurb_path } do |f| %>
          <%= f.text_area :blurb, placeholder: "#{@saved_trip.blurb}" %>
          <%= f.button :submit, "Save Blurb" %>
        <% end %>
      <% end %>
    <% end %>
    <% if current_user %>
      <h3>Add a point to the map!<h3>
      <%= simple_form_for @point||=Point.new do |f| %>
        <%= f.input :name, placeholder: "What is here at this point?" %>
        <%= f.input :location, placeholder: "Address or latitute,longitude" %>
        <%= f.input :description, placeholder: "Tell us why you found this place so interesting!" %>
        <%= f.button :submit %>
      <% end %>
    <% else %>
      <div style="padding: 1em">
        <p><%= link_to "Sign up", new_user_registration_path %> in order to be able to save your trip, post a blurb so that others can read about it, and even create your own points on the map!</p>
      </div>
    <% end %>
  </div>
</div>

<% if @summary %>
  <h3>The general forecast for your trip is: <%=@summary%> skies, <%=@temp%>º with a 'feels like' of <%=@feels_like%>º, plus or minus <%=@plus_minus%>º<h3>
  <h3>Of course, this is a long-range forecast, so check back before your trip for more accuracy!<h3>
<% else %>
  </br>
<% end %>

<iframe style="background: lightgray" id="forecast_embed" type="text/html" frameborder="0" height="245" width="100%" src="http://forecast.io/embed/#lat=<%= @lat %>&lon=<%= @lng %>&name=<%= @placename %>&color=#237FCE"> </iframe>
</br>
</br>
<div style="background: lightgray; text-color: blue">
  <h3 style="color: #0E2745">Some blurbs from folks about their recent trips:<h3>
  <% @trips.each do |trip| %>
    <% if trip.blurb %>
      <p style="color: #0E2745"><%=trip.user.name%> went to <%=trip.city%> and writes, <%=trip.blurb%></p>
      </br>
    <% end %>
  <% end %>
</div>

<script>
$(window).ready(function(){

  window.map = L.map('map').setView([<%= @lat %>, <%= @lng %>], 12);
  L.tileLayer('https://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png', {
    maxZoom: 18,
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
    '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
    'Imagery © <a href="http://mapbox.com">Mapbox</a>',
    id: 'examples.map-i875mjb7'
  }).addTo(window.map);

  L.marker([<%= @lat %>, <%= @lng %>])
  .addTo(window.map)
  .bindPopup("<b><%=@placename%></b>");

  <% @venues.each do |venue| %>
    L.marker([<%= venue.location.lat %>, <%= venue.location.lng %>])
    .addTo(window.map)
    .bindPopup("<a href=<%= venue.uri %> target=_blank><%= venue.display_name %></a>");
  <% end %>

  var redIcon = L.icon({
    iconUrl: 'http://commercealouergrenoble.com/images/Map-Marker-Marker-Outside-Azure-icon.png',
    iconSize:    [38, 40],
    iconAnchor:  [0, 40],
    popupAnchor: [19, -30]
  });

  <% @points.each do |point| %>
    L.marker([<%= point.lat %>, <%= point.lng %>], {icon: redIcon})
    .addTo(window.map)
    .bindPopup("<a href='#' target=_blank><%= point.name %></a><p><%=point.user.name%> writes, <%=point.description%><p>");
  <% end %>

});
</script>

<script>
$('#datepicker').datepicker({format: 'yyyy-mm-dd'});
</script>
<script>
$('#datepicker2').datepicker({format: 'yyyy-mm-dd'});
</script>
