<!DOCTYPE html>
<html>
<head>
  <title>Travel</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
  <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/superhero/bootstrap.min.css" rel="stylesheet">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <% if current_user %>
    <%= render '/layouts/user_navbar' %>
  <% else %>
    <%= render '/layouts/no_user_navbar' %>
  <% end %>

<div style="height:2em;margin-bottom:2em;" class='container-fluid'>
  <% if current_user %>
    <h1>Hello, <%=current_user.name%>! </h1>
  <% else %>
    <h1>Hello!<h1>
  <% end %>
</div>

<div class='container-fluid'>
  <%= yield %>
</div>
<hr />
  <div class="row">
    <div class="col-lg-12">
      <div class="col-md-4">
        <ul class="nav nav-pills nav-stacked">
          <li><%= link_to "About Minstrelr", about_path %></li>
          <li><%= link_to "Benjamin's Blog", "http://www.tinyurl.com/benedpark"%></li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="nav nav-pills nav-stacked">
          <li><%= link_to "https://cdn3.iconfinder.com/data/icons/free-social-icons/67/twitter_circle_color-512.png", "https://twitter.com/benedpark"%></li>
          <li><%= link_to "https://camo.githubusercontent.com/a46e11f1754269d31b848b450856d081a1b02461/68747470733a2f2f662e636c6f75642e6769746875622e636f6d2f6173736574732f32383831382f313633323038372f38353063613031612d353737322d313165332d386565652d3230613131636136353334662e706e67","https://github.com/benjaminedwardparker"%></li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="#">Product Help</a></li>
          <li><a href="#">Developer API</a></li>
        </ul>
      </div>
    </div>
  </div>
  <hr>
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-pills nav-justified">
                <li><a href="/">© 2014 Benjamin Edward Parker.</a></li>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Privacy</a></li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>
